@charset "utf-8";

/*-------------------------------------------------------------------
    @genaral
-------------------------------------------------------------------*/
/* grid */

/*-------------------------------------------------------------------
    @elements
-------------------------------------------------------------------*/
/* button */
.btn-wrap{}

.btn{ border: 1px solid transparent; padding: 0 0; margin: 0 0; border-radius: 500rem; font-weight: 700; border-width: 0.2rem; border-style: solid; display: flex; align-items: center; justify-content: center;}
.btn-ic{ border: none; padding: 0; margin: 0; display: block; text-indent: -9999px; background-size: 100%; background-repeat: no-repeat; background-position: center;}

.btn.md {padding: 0 2.4rem; font-size: 1.8rem; height: 5.6rem;}

.btn.line-white {border-color: #ffffff; color: #ffffff;}

.btn.fill-blue {border-color: #44bdd5; background-color: #44bdd5; color: #ffffff;}

.btn-menu {width: 3.6rem; height: 3.6rem; position: relative;}
.btn-menu span {height: 0.5rem; width: 3.6rem; position: absolute; top: 50%; left: 50%; border-radius: 50px; background-color: #44bdd5; transform: translate(-50%,-50%) rotate(0deg); transition: all ease 0.5s; display: block;}
.btn-menu span::before,
.btn-menu span::after{content:""; position: absolute; height: inherit; border-radius: inherit; background-color: inherit; margin: auto; width: 50%; transition: all ease 0.5s;}
.btn-menu span::before {top: -1.2rem; left: 0; transform-origin: left;}
.btn-menu span::after{bottom: -1.2rem; right: 0; transform-origin: right;}
.btn-menu.open span,
.btn-menu.open span::before,
.btn-menu.open span::after {background-color: #ffffff;}
.btn-menu.open span{transform:translate(-50%,-50%) rotate(135deg);}
.btn-menu.open span::before{top:0; transform: translateX(100%) rotate(-90deg);}
.btn-menu.open span::after{bottom:0; transform: translateX(-100%) rotate(-90deg);}

/* icon */
i[class^='ic-'] {display: block; background-repeat: no-repeat; background-size: 100%; background-position: center;}

.ic-portfolio {width: 5.2rem; height: 5.2rem; background-image: url('../img/icon/ic_portfolio.png');}
.ic-history {width: 5.2rem; height: 5.2rem; background-image: url('../img/icon/ic_history.png');}

/* bullet */

/* list */
.list-wrap{}

.list-wrap.v1{}

/* img list */
.img-list{}

.img-list.v1{}

/* form, input */
.inp-wrap{}
.inp-item{}

.inp-item input[type="text"]{}

.phone .inp-item{}

/* title */
.tit-wrap{}
.tit-wrap .tit{}

.tit.v1{}

/* text */
.txt-warning{}
.txt-comment{}

/* table */
.tbl-wrap{}
.tbl-wrap table{ width: 100%; table-layout: fixed; }

.tbl-wrap.v1{}

/* paging */
.paging{}
.paging ul{}
.paging ul li{}
.paging ul li a{}
.paging ul li.front{}
.paging ul li.prev{}
.paging ul li.next{}
.paging ul li.back{}

/*-------------------------------------------------------------------
    @collections
-------------------------------------------------------------------*/
/* form group */

/* form mixins */