@charset "utf-8";

/* Suit */
@font-face { 
    font-family: 'Suit';
    font-weight: 100;
    src: url('../fonts/Suit/SUIT-Thin.woff2') format('woff2'),
        url('../fonts/Suit/SUIT-Thin.woff') format('woff'),
        url('../fonts/Suit/SUIT-Thin.ttf') format('truetype');
}
@font-face { 
    font-family: 'Suit';
    font-weight: 200;
    src: url('../fonts/Suit/SUIT-ExtraLight.woff2') format('woff2'),
        url('../fonts/Suit/SUIT-ExtraLight.woff') format('woff'),
        url('../fonts/Suit/SUIT-ExtraLight.ttf') format('truetype');
}
@font-face { 
    font-family: 'Suit';
    font-weight: 300;
    src: url('../fonts/Suit/SUIT-Light.woff2') format('woff2'),
        url('../fonts/Suit/SUIT-Light.woff') format('woff'),
        url('../fonts/Suit/SUIT-Light.ttf') format('truetype');
}
@font-face { 
    font-family: 'Suit';
    font-weight: 400;
    src: url('../fonts/Suit/SUIT-Regular.woff2') format('woff2'),
        url('../fonts/Suit/SUIT-Regular.woff') format('woff'),
        url('../fonts/Suit/SUIT-Regular.ttf') format('truetype');
}
@font-face { 
    font-family: 'Suit';
    font-weight: 500;
    src: url('../fonts/Suit/SUIT-Medium.woff2') format('woff2'),
        url('../fonts/Suit/SUIT-Medium.woff') format('woff'),
        url('../fonts/Suit/SUIT-Medium.ttf') format('truetype');
}
@font-face { 
    font-family: 'Suit';
    font-weight: 600;
    src: url('../fonts/Suit/SUIT-SemiBold.woff2') format('woff2'),
        url('../fonts/Suit/SUIT-SemiBold.woff') format('woff'),
        url('../fonts/Suit/SUIT-SemiBold.ttf') format('truetype');
}
@font-face { 
    font-family: 'Suit';
    font-weight: 700;
    src: url('../fonts/Suit/SUIT-Bold.woff2') format('woff2'),
        url('../fonts/Suit/SUIT-Bold.woff') format('woff'),
        url('../fonts/Suit/SUIT-Bold.ttf') format('truetype');
}
@font-face { 
    font-family: 'Suit';
    font-weight: 800;
    src: url('../fonts/Suit/SUIT-ExtraBold.woff2') format('woff2'),
        url('../fonts/Suit/SUIT-ExtraBold.woff') format('woff'),
        url('../fonts/Suit/SUIT-ExtraBold.ttf') format('truetype');
}
@font-face { 
    font-family: 'Suit';
    font-weight: 900;
    src: url('../fonts/Suit/Suit-Heavy.woff2') format('woff2'),
        url('../fonts/Suit/Suit-Heavy.woff') format('woff'),
        url('../fonts/Suit/Suit-Heavy.ttf') format('truetype');
}